@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #7c3aed;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
  list-style-type: none;
  padding-bottom: 1rem;
}

.hero-img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link-active {
  font-weight: bold;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.list-non-bullets {
  list-style: none
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: oklch(96.8% 0.007 247.896);
}

.navigation .link-active {
  font-weight: bold;
}

.hero {
  padding: 2rem;

}

.hero .hero-heading {
  font-size: 2rem;
  font-weight: 500rem;
  color: grey;
  padding-top: 1rem;
  text-align: center;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/* <!--section--!>  */
.section {
  text-align: center;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
}

.section-ow {
  background-color: oklch(96.8% 0.007 247.896);
  text-align: center;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
}

/* <!-- Footer--- -->  */
.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
}

.footer .link {
  color: oklch(96.8% 0.007 247.896);
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.tech-stack {
  text-align: center;
}

.project {
  text-align: center;
}